.table-wrapper {
  width: 1250px;
  margin: 80px auto;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  padding: 18px 10px;
  background-color: #435d7d;
  /* width: 100%; */
  /* max-width: 100%; */
}
.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
  color: aliceblue;
  font-weight: 700;
}
.table-title .add-new {
  float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
}
.table-title .add-new i {
  margin-right: 4px;
}

.ten {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
}

/* Custom input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

thead {
  font-weight: 700;
}
a:hover {
  cursor: pointer;
}
table.table td a.add {
  color: #27c46b;
}
table.table td a.edit {
  color: blue;
}
table.table td a.delete {
  color: #e34724;
}
table.table td i {
  font-size: 19px;
}
.message{
  font-size: 13px;
  color: #e34724;
}
.formInsert {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 10%;
}
.formInsert input, textarea, select {
  padding: 1.5rem;
  border: 1px solid rgb(252, 246, 246);
  /* color: #333; */
  color: #0c0a0a;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  transition: border 0.25s linear;
  font-weight: normal;
  background-color: #f9f9f9;
}
.formInsert input:focus {
  border-color: var(--primary);
}
.formInsert .forgot {
  display: inline-block;
  text-transform: uppercase;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.update {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  text-transform: uppercase;
}
.formInsert .input-icon {
  position: relative;
}
.formInsert .input-icon input {
  padding-right: 4rem;
}
.formInsert .input-icon i {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  color: #ccc;
  cursor: pointer;
}
.formInsert label {
  font-size: 15px;
  font-weight: bold;
}
.formInsert input, select, textarea {
  font-size: 15px;
}

.kiemtra {
  color: red;
  font-family: "Montserrat";
  padding-bottom: 12px;
}
.upload{
  width: 60% !important;
  display: inline !important;
}
.btn-upload{
  width: 20%;
  font-size: 15px;
  float: right;
  margin-top: 10px;
  padding: 10px 10px;
}

.btn-update{
  width: 50% !important;
  font-size: 15px;
  padding: 10px 10px;
}
.row_x{
  display: flex;
  margin-bottom: 5px;
}
.col_x1{
  flex-basis: 60%;
}
.col_x2{
  flex-basis: 40%;
  text-align: right;
}