.container_w{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.row_w{
  display: flex;
}
.col_w:first-child{
  flex-basis: 55%;
  margin-right: 40px;
}
.col_w:last-child{
  flex-basis: 45%;
}
.info_product{
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background-color: #f9f9f9;
}
.info_product p {
  margin-left: 20px;
}
.info_product p:last-child {
  border: 1px solid black;
  padding: 20px 10px;
}
input{
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid tan;
}
input:focus{
  border-color: turquoise;
  outline: none;
}
@media only screen and (max-width: 1200px) {
  .container_w {
    width: 85%;
  }
}
@media only screen and (max-width: 992px) {
  .container_w {
    width: 90%;
  }
  .row_w{
    flex-direction: column;
    align-items: center;
  }
  .col_w:first-child{
    order: 2;
    width: 60%;
    margin-top: 50px;
  }
  .col_w:last-child{
    order: 1;
    width: 60%;
  }
  *{
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 480px) {
  .container_w {
    width: 95%;
  }
  *{
    font-size: 1.2rem;
  }
}
