<app-header></app-header>
<main>
    <section class="order-product">
        <div class="container_w">
            <div class="info-order">
                <p>Đơn hàng:</p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Size</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tổng tiền</th>
                                <!-- <th scope="col">Thời gian đặt</th> -->
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders; index as idx">
                                <td>{{idx + 1}}</td>
                                <td> <a routerLink="/detail-product/{{order.idProduct}}">{{order.name}}</a></td>
                                <td>{{order.size}}</td>
                                <td>
                                    {{order.price | number: '2.'}}<span style="text-decoration: underline;">đ</span>
                                </td>
                                <td>{{order.number_products}}</td>
                                <!-- <td>{{order.freight_cost | number: '2.'}}<span
                                        style="text-decoration: underline;">đ</span></td> -->
                                <td>{{order.total_money | number: '2.'}}<span
                                        style="text-decoration: underline;">đ</span></td>
                                <!-- <td>{{order.date_created}}</td> -->
                                <td>{{order.status}}</td>
                                <td style="text-align: center;">
                                    <a href="javascript:void(0)" style="font-size: 15px;"
                                        (click)="openModalWithClass(template, order)"><i class="fa fa-info-circle"
                                            aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ng-template #template>
                    <div class="modal-header">
                        <h4 class="modal-title pull-left" style="font-size: 22px; font-weight: 700; margin: 10px 0px; padding-left: 10%; padding-right: 10%;">Chi tiết đơn hàng
                        </h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true"  style="font-size: 22px;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="font-size: 15px;">
                                <tr>
                                    <th scope="row">Tên người nhận</th>
                                    <td>{{order.full_name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Địa chỉ</th>
                                    <td>{{order.address}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Số điện thoại</th>
                                    <td>{{order.phone}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sản phẩm</th>
                                    <td>{{order.name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Size</th>
                                    <td>{{order.size}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Giá sản phẩm</th>
                                    <td>{{order.price | number: '2.'}}<span style="text-decoration: underline;">đ</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Số lượng</th>
                                    <td>{{order.number_products}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Phí vận chuyển</th>
                                    <td>{{order.freight_cost | number: '2.'}}<span
                                            style="text-decoration: underline;">đ</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Tổng tiền</th>
                                    <td>{{order.total_money | number: '2.'}}<span
                                            style="text-decoration: underline;">đ</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Thời gian đặt hàng</th>
                                    <td>{{order.date_created}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trạng thái đơn hàng</th>
                                    <td>{{order.status}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ng-template>

            </div>
            <div class="payment-method">
                <p>Phương thức thanh toán:</p>
                <p><input type="checkbox" checked disabled>&nbsp;Thanh toán khi nhận hàng</p>
            </div>
        </div>
    </section>
</main>