<app-header></app-header>


<main>
    <section class="cart-product">
        <div class="container_w">
            <h3>Giỏ hàng của bạn</h3>
            <h5 *ngIf="listCart.length == 0" style="text-align: center; font-size: 1.8rem; margin-bottom: 30px;">
                Có 0 sản phẩm trong giỏ hàng
            </h5>
            <div class="table-responsive" *ngIf="listCart.length != 0">
                <table class="table table-striped" style="min-width: 840px;">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Size</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cart of listCart; index as idx">
                            <th scope="row">{{idx+1}}</th>
                            <td >
                                <img [src]="cart.image" alt="">
                                
                            </td>
                            <td><a href="/detail-product/{{cart.product_id}}">{{cart.name}}</a></td>
                            <td>{{cart.size}}</td>
                            <td>{{cart.price | number: '2.'}}<span>đ</span></td>
                            <td>
                                <button class="nut" (click)="giam(total)">-</button>
                                <input type="number" [value]="cart.so_luong" readonly style="width: 35px; text-align: center;" #total>
                                <button class="nut" (click)="tang(total)">+</button>
                            </td>
                            <td>{{cart.so_luong*cart.price | number: '2.'}}<span>đ</span></td>
                            <td>    
                                <a class="order" title="Thanh toán" data-toggle="tooltip" (click)="thanhToan(idx, total.value)">
                                    <i class="fa fa-step-forward"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a class="edit" title="Cập nhật" data-toggle="tooltip" (click)="update(idx, total.value)">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a class="delete" title="Xóa" data-toggle="tooltip" (click)="xoa(idx)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p *ngIf="tongtien != 0" style="font-size: 1.5rem; font-weight: 800;">Tổng tiền: {{tongtien | number: '2.'}}<span>đ</span></p>
        </div>
    </section>
</main>