<router-outlet></router-outlet>
<footer>
  <section class="app-footer">
      <div class="container_w">
          <div class="row_w">
              <div class="col_w">
                  <div class="app-footer__news">
                      <h2>THÔNG TIN LIÊN HỆ</h2>
                      <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Address: K53/25 Huỳnh Ngọc Huệ, Đà Nẵng</a>
                      <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Phone: 0339178080</a>
                      <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Support: hoanguyen@gmail.com</a>
                  </div>
              </div>
              <div class="col_w">
                  <div class="app-footer__news">
                      <h2>WHY US?</h2>
                      <a href="#">Chúng tôi đặt chất lượng là ưu tiên hàng đầu</a>
                      <a href="#">Sản phẩm đa dạng phong phú</a>
                      <a href="#">Nhiều chính sách khuyến mãi</a>
                  </div>
              </div>
              <div class="col_w">
                  <div class="app-footer__news">
                      <h2>FANPAGE</h2>
                      <a href="#"><img src="../assets/images/126823353_293005501985613_4714522934222271004_n.png" alt="fanpage"/></a>
                  </div>
              </div>
          </div>
      </div>
  </section>
</footer>