<app-header></app-header>
<main class="main">

    <section class="carousel">
        <div class="container-fluid_w">
            <carousel>
                <slide *ngFor="let item of slider">
                    <img [src]="item.url" alt="first slide">
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                </slide>
            </carousel>
        </div>
    </section>



    <section class="featured-products">
        <div class="container_w">
            <div class="featured-products__title">
                <p>SẢN PHẨM NỔI BẬT</p>
                <span>TỐT NHẤT TỪ SHOP</span>
            </div>
            <div class="row_w">
                <div class="col_w" *ngFor="let phantu of hotProducts">
                    <a href="/detail-product/{{phantu.id}}">
                        <div class="featured-product__img">
                            <img [src]="phantu.images" alt="" width="100%">
                            <div class="overlay">
                                <p>{{phantu.name}}</p>
                                <p>{{phantu.price | number: '2.'}}<span>đ</span></p>
                                <button>Chi tiết</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="recent-products">
        <div class="container_w">
            <div class="recent-products__title">
                <p>SẢN PHẨM MỚI</p>
                <span>XU HƯỚNG CỦA NĂM NAY</span>
            </div>
            <div class="row_w">
                <div class="col_w" *ngFor="let item of newProducts">
                    <a href="/detail-product/{{item.id}}">
                        <div class="featured-product__img">
                            <img [src]="item.images" alt="" width="100%">
                            <div class="overlay">
                                <p>{{item.name}}</p>
                                <p>{{item.price | number: '2.'}}<span>đ</span></p>
                                <button>Chi tiết</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="highlighted-features">
        <div class="container_w">
            <div class="recent-products__title">
                <p>TÍNH NĂNG NỔI BẬT</p>
                <span>GIÚP VIỆC MUA SẮM THOẢI MÁI VÀ AN TOÀN HƠN</span>
            </div>
            <div class="row_w">
                <div class="col_w">
                    <div class="highlighted-features__freeship">
                        <p><i class="fa fa-car" aria-hidden="true"></i> MiỄN PHÍ VẬN CHUYỂN</p>
                        <p>Miễn phí vận chuyển khi đơn hàng đạt giá trị tối thiểu là 200000đ</p>
                    </div>
                </div>
                <div class="col_w">
                    <div class="highlighted-features__backquarantee">
                        <p><i class="fa fa-undo"></i> 30 NGÀY ĐỔI TRẢ</p>
                        <p>Cho phép đổi trả hàng nếu không ưng ý với điều kiện sản phẩm còn nhãn mác và không hư hại
                        </p>
                    </div>
                </div>
                <div class="col_w">
                    <div class="highlighted-features__checkout">
                        <p><i class="fa fa-check" aria-hidden="true"></i> KIỂM TRA SẢN PHẨM</p>
                        <p>Được kiểm tra sản phẩm trước khi nhận, nếu không muốn nhận có thể trả hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>