<app-header></app-header>
<section class="featured-products">
    <div class="container_w">
        <div class="featured-products__title">
            <p>KẾT QUẢ TÌM KIẾM
            </p>
            <span> {{products.length}} SẢN PHẨM</span>
        </div>
        <div class="row_w">
            <div class="col_w" *ngFor="let item of trang">
                <a routerLink="/detail-product/{{item.id}}">
                    <div class="featured-product__img">
                        <img src="../../assets/images/hoodie-with-zipper-2-500x500.jpg" alt="" width="100%">
                        <div class="overlay">
                            <p>{{item.name}}</p>
                            <p>{{item.price}}<span>đ</span></p>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="phantrang">
        <pagination [totalItems]="products.length" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
            [itemsPerPage]=8 class="ne-pagination">
        </pagination>
    </div>
</section>